@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");

*,
p,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul,li{
  list-style: none;
}
html {
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* Grid layout */
.main-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar topheadline topheadline"
    "sidebar playlist palylist";
  grid-template-columns: 4rem 1fr 1fr;
  grid-template-rows: 4rem 5rem 1fr;
  margin: 0 20px 0 0px;
}
